body {
  font-family: "Playfair Display", serif;
}

nav {
  font-family: "Roboto Condensed", sans-serif;
}
.name-main {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}
.bio {
  margin-top: 10px;
  text-align: center;
}
#contact-me {
  display: block;
  margin: auto;
  width: fit-content;
  margin-top: 20px;
}
.my-photo {
  display: inline-block;
  text-align: center;
  margin-top: 65px;
  max-width: 12%;
  max-height: auto;
}
.portrait {
  display: flex;
  justify-content: center;
}
.projects-header {
  text-align: center;
  margin-top: 60px;
  font-size: 35px;
}
.projects-info {
  text-align: center;
  font-style: italic;
  font-size: 20px;
}
.index {
  background-color: #f8f9fa;
  border-radius: 12px;
  max-height: 450px;
  max-width: 1060px;
}
.weather-photo {
  max-height: 450px;
  border-radius: 12px;
}
.weather-link {
  color: #fbce3f;
  text-decoration: none;
}
.weather-link:hover {
  color: black;
  text-decoration: underline;
}
.title-weather {
  margin-top: 20px;
}
.greeting {
  margin-top: 200px;
  font-weight: bold;
}
.where-from {
  font-size: large;
  margin-top: 10px;
}
.about-descrip {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 30px;
  color: #454545;
}
.my-photo-full {
  display: inline-block;
  border-radius: 7px;
  margin-top: 150px;
  margin-left: 40px;
  max-width: 70%;
}
@media (max-width: 600px) {
  .my-photo {
    max-width: 25%;
  }
  .title-weather {
    text-align: center;
  }
  .weather-photo {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
  }
  .weather-link {
    display: block;
    text-align: center;
  }
}
