body {
  font-family: "Playfair Display", serif;
}
nav {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  margin-top: 75px;
  text-align: center;
  font-weight: bold;
}
h4 {
  margin-top: 10px;
  text-align: center;
}
#about-me {
  display: block;
  margin: auto;
  width: fit-content;
}
